In [7]:
import pandas as pd
from combat_unit import CombatUnit
from battle_analyzer import BattleAnalyzer
import enums

units = pd.read_csv('data/unit_data.csv')
units['id'] = units.index

an_units = units.loc[units['unit_type'] != 'Ground']

allied_units = an_units.loc[an_units['nationality'] != 'Japan']
japan_units = an_units.loc[an_units['nationality'] == 'Japan']

allied_unit_list = [CombatUnit(**kwargs) for kwargs in allied_units.to_dict(orient='records')]
japan_unit_list = [CombatUnit(**kwargs) for kwargs in japan_units.to_dict(orient='records')]

allied_forces = allied_unit_list[50:55]
allied_forces[0].is_flipped = True

japan_forces = japan_unit_list[23:28]
japan_forces[3].is_flipped = True
for unit in allied_forces:
    print(
        f'Unit: {unit.unit_name}, Front: {unit.attack_front}, Back: {unit.attack_back}, Defense: {unit.defense}, '
        f'CF: {unit.combat_factor()}, Loss Delta: {unit.loss_delta()}, Range: {unit.move_range}')

allied_forces_cf = sum(map(lambda x: x.combat_factor(), allied_forces))
print(f'Allied CF Total: {allied_forces_cf}')

for unit in japan_forces:
    print(
        f'Unit: {unit.unit_name}, Front: {unit.attack_front}, Back: {unit.attack_back}, CF: {unit.combat_factor()}')

japan_forces_cf = sum(map(lambda x: x.combat_factor(), japan_forces))
print(f'Japan CF Total: {japan_forces_cf}')

analyzer = BattleAnalyzer(intel_condition=enums.IntelCondition.INTERCEPT, reaction_player=enums.Player.ALLIES,
                          air_power_mod=enums.AirPowerModifier.Y1942, allied_ec_mod=0, japan_ec_mod=0)

results = analyzer.analyze_battle(allied_forces, japan_forces)

Unit: Missouri (BB), Front: 16, Back: 8.0, Defense: 16, CF: 8.0, Loss Delta: 8.0, Range: nan
Unit: Belleau Wood (CVL), Front: 10, Back: 7.0, Defense: 10, CF: 10, Loss Delta: 3.0, Range: 2.0
Unit: Cowpens (CVL), Front: 10, Back: 7.0, Defense: 10, CF: 10, Loss Delta: 3.0, Range: 2.0
Unit: San Jacinto (CVL), Front: 10, Back: 7.0, Defense: 10, CF: 10, Loss Delta: 3.0, Range: 2.0
Unit: Bataan (CVL), Front: 10, Back: 7.0, Defense: 10, CF: 10, Loss Delta: 3.0, Range: 2.0
Allied CF Total: 48.0
Unit: 61 AF, Front: 8, Back: 4.0, CF: 8
Unit: 62 AF, Front: 8, Back: 4.0, CF: 8
Unit: Akagi (CV), Front: 12, Back: 8.0, CF: 12
Unit: Soryu (CV), Front: 10, Back: 7.0, CF: 7.0
Unit: Taiho (CV), Front: 10, Back: 7.0, CF: 10
Japan CF Total: 45.0

In [8]:
results

,allied_die_roll,allied_result,allied_losses,allied_damage_applied,japan_die_roll,japan_result,japan_losses,japan_damage_applied,battle_winner
0,0,0.25,12,10,0,0.25,12,10,Player.ALLIES
1,0,0.25,12,10,1,0.25,12,10,Player.ALLIES
2,0,0.25,12,10,2,0.25,12,10,Player.ALLIES
3,0,0.25,23,20,3,0.50,12,10,Player.ALLIES
4,0,0.25,23,20,4,0.50,12,10,Player.ALLIES
...,...,...,...,...,...,...,...,...,...
95,9,1.00,23,20,5,0.50,48,12,Player.ALLIES
96,9,1.00,45,40,6,1.00,48,12,Player.JAPAN
97,9,1.00,45,40,7,1.00,48,12,Player.JAPAN
98,9,1.00,45,40,8,1.00,48,12,Player.JAPAN
99,9,1.00,45,26,9,1.00,48,12,Player.JAPAN