In [2]:
import pandas as pd
from combat_unit import CombatUnit
from battle_analyzer import BattleAnalyzer
import enums

units = pd.read_csv('data/unit_data.csv')
units['unit_id'] = units.index

an_units = units.loc[units['unit_type'] != 'Ground']

allied_units = an_units.loc[an_units['nationality'] != 'Japan']
japan_units = an_units.loc[an_units['nationality'] == 'Japan']

allied_unit_list = [CombatUnit(**kwargs) for kwargs in allied_units.to_dict(orient='records')]
japan_unit_list = [CombatUnit(**kwargs) for kwargs in japan_units.to_dict(orient='records')]

allied_forces = allied_unit_list[50:55]
allied_forces[0].is_flipped = True

japan_forces = japan_unit_list[23:28]
japan_forces[3].is_flipped = True
for unit in allied_forces:
    print(
        f'Unit: {unit.unit_name}, Front: {unit.attack_front}, Back: {unit.attack_back}, Defense: {unit.defense}, '
        f'CF: {unit.combat_factor()}, Loss Delta: {unit.loss_delta()}, Range: {unit.move_range}')

allied_forces_cf = sum(map(lambda x: x.combat_factor(), allied_forces))
print(f'Allied CF Total: {allied_forces_cf}')
print('')

for unit in japan_forces:
    print(
        f'Unit: {unit.unit_name}, Front: {unit.attack_front}, Back: {unit.attack_back}, Defense: {unit.defense}, '
        f'CF: {unit.combat_factor()}, Loss Delta: {unit.loss_delta()}, Range: {unit.move_range}')

japan_forces_cf = sum(map(lambda x: x.combat_factor(), japan_forces))
print(f'Japan CF Total: {japan_forces_cf}')

analyzer = BattleAnalyzer(intel_condition=enums.IntelCondition.SURPRISE, reaction_player=enums.Player.ALLIES,
                          air_power_mod=enums.AirPowerModifier.Y1942, allied_ec_mod=0, japan_ec_mod=0)

results = analyzer.analyze_battle(allied_forces, japan_forces)

Unit: Belleau Wood (CVL), Front: 10, Back: 7.0, Defense: 10, CF: 7, Loss Delta: 7.0, Range: 2.0
Unit: Cowpens (CVL), Front: 10, Back: 7.0, Defense: 10, CF: 10, Loss Delta: 3.0, Range: 2.0
Unit: San Jacinto (CVL), Front: 10, Back: 7.0, Defense: 10, CF: 10, Loss Delta: 3.0, Range: 2.0
Unit: Bataan (CVL), Front: 10, Back: 7.0, Defense: 10, CF: 10, Loss Delta: 3.0, Range: 2.0
Unit: Bunker Hill (CV), Front: 14, Back: 10.0, Defense: 14, CF: 14, Loss Delta: 4.0, Range: 2.0
Allied CF Total: 51

Unit: 61 AF, Front: 8, Back: 4.0, Defense: 10, CF: 8, Loss Delta: 4.0, Range: 3.0
Unit: 62 AF, Front: 8, Back: 4.0, Defense: 10, CF: 8, Loss Delta: 4.0, Range: 3.0
Unit: Akagi (CV), Front: 12, Back: 8.0, Defense: 12, CF: 12, Loss Delta: 4.0, Range: 3.0
Unit: Soryu (CV), Front: 10, Back: 7.0, Defense: 12, CF: 7, Loss Delta: 7.0, Range: 3.0
Unit: Taiho (CV), Front: 10, Back: 7.0, Defense: 12, CF: 10, Loss Delta: 3.0, Range: 3.0
Japan CF Total: 45

In [3]:
results

,allied_die_roll,allied_result,allied_losses,allied_damage_applied,allied_remaining_cf,japan_die_roll,japan_result,japan_losses,japan_damage_applied,japan_remaining_cf,battle_winner
0,0,0.25,23,14,47,0,0.5,12,10,41,ALLIES
1,0,0.25,23,14,47,1,0.5,12,10,41,ALLIES
2,0,0.25,23,14,47,2,0.5,12,10,41,ALLIES
3,0,0.25,45,44,38,3,1.0,10,10,41,JAPAN
4,0,0.25,45,44,38,4,1.0,10,10,41,JAPAN
...,...,...,...,...,...,...,...,...,...,...,...
95,9,1.00,45,44,38,5,1.0,38,32,30,ALLIES
96,9,1.00,45,44,38,6,1.0,38,32,30,ALLIES
97,9,1.00,45,44,38,7,1.0,38,32,30,ALLIES
98,9,1.00,45,44,38,8,1.0,38,32,30,ALLIES
99,9,1.00,45,38,30,9,1.0,30,22,34,JAPAN

In [4]:
df_winner = results.groupby(['battle_winner']).agg(winner_count = ('battle_winner', 'count'))

In [5]:
df_winner

               winner_count
battle_winner
ALLIES                   54
JAPAN                    46

In [7]:
enums.Player(1)